.footer {
  text-align: justify;
  background: linear-gradient(#7a2dd1, #0d6efd);
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  padding-top: 2rem !important;
  color: #fff;
  bottom: 0;
  left: 0;
}

.footer ul {
  list-style: none;
}

.footer ul a {
  text-decoration: none;
  color: #fff;
}

.usefullinks {
  text-align: justify;
}

.footer-bottom {
  padding-top: 1rem;
  display: flex;
  width: 100%;
}

.footer-bottom a {
  text-decoration: none;
  color: #fff;
}
