.login-container {
  background-color: #fff;
  margin-top: -2rem;
  padding: 3rem !important;
  width: 50% !important;
}

.button-align {
  text-align: right;
}

@media screen and (max-width: 600px) {
  .login-container {
    width: 90% !important;
  }
  button {
    width: 100% !important;
  }
}

@media screen and (max-width: 992px) {
  .login-container {
    width: 90% !important;
  }
  button {
    width: 100% !important;
  }
}
